force-app/main/default/flows/Manage_Reinsurance_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Build_New_Reinsurer</name>
        <label>Build New Reinsurer</label>
        <locationX>1061</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>NewReinsurer.Reinsurance_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Reinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedReinsurer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Placement_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Placement_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Signed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Authorized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authorized</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Next_Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLUPName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Layer_Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OLUP_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Brokerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_Commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Lead_Market_Indicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Market</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinsurer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Reinsurer_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RI_Reference_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinsurer.Reinsurer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RI_Contact_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Reinsurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_in_blank_OLU</name>
        <label>Fill in blank OLU</label>
        <locationX>1131</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>OLUP_ID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OLUPName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Build_New_Reinsurer</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Add New Reinsurer</description>
        <name>AddNewReinsurer</name>
        <choiceText>Add a New Reinsurer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Add&quot;</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditExistingReinsurer</name>
        <choiceText>Edit Existing Reinsurer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edit</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveExistingReinsurer</name>
        <choiceText>Remove Existing Reinsurer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attach_to_Another_RI</name>
        <label>Attach to Another RI</label>
        <locationX>897</locationX>
        <locationY>75</locationY>
        <defaultConnector>
            <targetReference>Add_New_Layer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Toggle is True</defaultConnectorLabel>
        <rules>
            <name>OLU_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attach_decision.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_in_blank_OLU</targetReference>
            </connector>
            <label>Toggle is False</label>
        </rules>
    </decisions>
    <decisions>
        <name>RI_Decision</name>
        <label>RI Decision</label>
        <locationX>675</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Reinsurer_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Reinsurer Selected</defaultConnectorLabel>
        <rules>
            <name>Reinsurance_Add_Not_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RI_Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RI_Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>editscreen</targetReference>
            </connector>
            <label>Add Reinsurance Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>RI_Decision_0</name>
        <label>RI Decision</label>
        <locationX>447</locationX>
        <locationY>739</locationY>
        <defaultConnectorLabel>Not Applicabe</defaultConnectorLabel>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RI_Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditReinsureChoices</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RI_Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRI_0</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OneLevelUp</name>
        <dataType>String</dataType>
        <displayField>Reinsurer_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reinsurance_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Reinsurer__c</object>
        <outputAssignments>
            <assignToReference>OLUP_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OLUPName</assignToReference>
            <field>Reinsurer_Name__c</field>
        </outputAssignments>
        <sortField>Reinsurer_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Reinsurer_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Placement_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Placement_Status__c</picklistField>
        <picklistObject>Reinsurer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Reinsurer_Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reinsurer</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RI_Contact_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReinsurerAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinsurer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedReinsurer</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Reinsurer to be edited or removed</description>
        <name>RI_Edit_Delete_List</name>
        <dataType>String</dataType>
        <displayField>Reinsurer_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reinsurance_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Placement_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <object>Reinsurer__c</object>
        <outputAssignments>
            <assignToReference>SelectRI</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_Status</assignToReference>
            <field>Placement_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedReinsurer</assignToReference>
            <field>Reinsurer_Name__c</field>
        </outputAssignments>
        <valueField>Reinsurer_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manage Reinsurance Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Reinsurance Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Reinsurer</name>
        <label>Create New Reinsurer</label>
        <locationX>1359</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>outscreen</targetReference>
        </connector>
        <inputReference>NewReinsurer</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updateRI</name>
        <label>updateRI</label>
        <locationX>83</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectRI</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placement_Status__c</field>
            <value>
                <elementReference>Placement_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reinsurer_Reference_Number__c</field>
            <value>
                <elementReference>AddNewReinsurer</elementReference>
            </value>
        </inputAssignments>
        <object>Reinsurer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRI_0</name>
        <label>RemoverI</label>
        <locationX>967</locationX>
        <locationY>728</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectRI</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Placement_Status__c</field>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </inputAssignments>
        <object>Reinsurer__c</object>
    </recordUpdates>
    <screens>
        <name>Add_New_Layer</name>
        <label>Add New Layer</label>
        <locationX>897</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_New_Reinsurer</targetReference>
        </connector>
        <fields>
            <name>New_Layer_Reinsurer</name>
            <choiceReferences>OneLevelUp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Layer Reinsurer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EditReinsureChoices</name>
        <label>EditReinsureChoices</label>
        <locationX>281</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateRI</targetReference>
        </connector>
        <fields>
            <name>Display_RI_Name</name>
            <fieldText>&lt;p&gt;{!SelectedReinsurer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Current_Status</name>
            <fieldText>&lt;p&gt;Current Status: {!Current_Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Placement_Status</name>
            <choiceReferences>Placement_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Placement Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>editscreen</name>
        <label>Edit or Remove</label>
        <locationX>455</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RI_Decision_0</targetReference>
        </connector>
        <fields>
            <name>DisplayAction</name>
            <fieldText>&lt;p&gt;{!RI_Action_Selection}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectRecordtoEditorDelete</name>
            <choiceReferences>RI_Edit_Delete_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Reinsurer to Modify</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>outscreen</name>
        <label>outscreen</label>
        <locationX>1435</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_You</name>
            <fieldText>&lt;p&gt;New reinsurer added!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reinsurer_Info</name>
        <label>Reinsurer Info</label>
        <locationX>695</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attach_to_Another_RI</targetReference>
        </connector>
        <fields>
            <name>Reinsurer</name>
            <choiceReferences>ReinsurerAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reinsurer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Placement_Status1</name>
            <choiceReferences>Placement_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Placement Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authorized</name>
            <dataType>Number</dataType>
            <fieldText>Authorized</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
        </fields>
        <fields>
            <name>Signed</name>
            <dataType>Number</dataType>
            <fieldText>Signed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Broker_Commission</name>
            <dataType>Number</dataType>
            <fieldText>Broker Commission</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
        </fields>
        <fields>
            <name>Reinsurer_Reference_Number</name>
            <dataType>String</dataType>
            <fieldText>Reinsurer Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_Market</name>
            <dataType>Boolean</dataType>
            <fieldText>Lead Market</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attach_decision</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach to another reinsurer?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p&gt;Add a SMARRT reinsurer&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectManageOption</name>
        <label>SelectManageOption</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RI_Decision</targetReference>
        </connector>
        <fields>
            <name>RI_Action_Selection</name>
            <choiceReferences>AddNewReinsurer</choiceReferences>
            <choiceReferences>EditExistingReinsurer</choiceReferences>
            <choiceReferences>RemoveExistingReinsurer</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AddNewReinsurer</defaultSelectedChoiceReference>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Select action you want to perform&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Please select the action you want to process against a reinsurer.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectManageOption</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Attach_to_Reinsurer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>BrokerCommission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>Current_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewReinsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinsurer__c</objectType>
    </variables>
    <variables>
        <name>OLUP_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLUPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppProductRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RI_Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RI_Reference_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedReinsurer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectRI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
