force-app/main/default/flows/Manage_START_Rating_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Each_Product_Premium</name>
        <label>Assign Each Product Premium</label>
        <locationX>594</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Insurance_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Subclass__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate_from_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_returned_rates.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_returned_rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CAP_Premium</name>
        <label>CAP Premium</label>
        <locationX>371</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_CAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_CAP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CProp_Premium</name>
        <label>CProp Premium</label>
        <locationX>363</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_CProp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_CProp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gl_Premium</name>
        <label>Gl Premium</label>
        <locationX>874</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_GL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_GL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PL_Premium</name>
        <label>PL Premium</label>
        <locationX>1307</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_PL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UMB_Premium</name>
        <label>UMB Premium</label>
        <locationX>1156</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_Umb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_Umb</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_based_on_user_entry</name>
        <label>Update Quote based on user entry</label>
        <locationX>1629</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Insurance_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_Input_screen_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WC_Premium</name>
        <label>WC Premium</label>
        <locationX>1006</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums_WC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price_WC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Product_Premium</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Subclass</name>
        <label>Determine Subclass</label>
        <locationX>1198</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subclass_is_GL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gl_Premium</targetReference>
            </connector>
            <label>Subclass is GL</label>
        </rules>
        <rules>
            <name>Subclass_is_CAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAP_Premium</targetReference>
            </connector>
            <label>Subclass is CAP</label>
        </rules>
        <rules>
            <name>Subclass_is_WC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workers Compensation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WC_Premium</targetReference>
            </connector>
            <label>Subclass is WC</label>
        </rules>
        <rules>
            <name>Subclass_is_Umbrella</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Umbrella</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UMB_Premium</targetReference>
            </connector>
            <label>Subclass is Umbrella</label>
        </rules>
        <rules>
            <name>Subclass_is_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PL_Premium</targetReference>
            </connector>
            <label>Subclass is PL</label>
        </rules>
        <rules>
            <name>Subclass_is_CProp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_returned_rates.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property Composite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CProp_Premium</targetReference>
            </connector>
            <label>Subclass is CProp</label>
        </rules>
    </decisions>
    <description>enhancement --allows look through submission for multiple products</description>
    <formulas>
        <name>Quote_price</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.loss_cost_multiplier__c}  * {!Get_Policy.Base_for_rate_calculation__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_CAP</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_CAP__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_CProp</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_CProp__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_GL</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_GL__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_PL</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_PL__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_Umb</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_Umb__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price_WC</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_returned_rates.Rate__c} * {!Loop_through_returned_rates.loss_cost_multiplier__c} *
{!Get_Policy.Base_for_Rate_Calculation_WC__c} * {!Loop_through_returned_rates.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price_CAP</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_CAP__c}*{!Scheduled_Credit_CAP}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_price_CProp</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_CProp__c} *{!Scheduled_Credit_Commercial_Property}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price_GL</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_GL__c}*{!Scheduled_Credit_GL}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price_PL</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_PL__c}*{!Scheduled_Credit_Professional_Liability}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price_Umb</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_Umb__c}*{!Scheduled_Credit_Umbrella}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price_WC</name>
        <dataType>Number</dataType>
        <expression>{!Get_Policy.Premiums_WC__c}*{!Scheduled_Credit_WC}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage START Rating v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage START Rating v2</label>
    <loops>
        <name>Loop_through_returned_rates</name>
        <label>Loop through returned rates</label>
        <locationX>593</locationX>
        <locationY>224</locationY>
        <collectionReference>Get_Rating_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Subclass</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Preview_Input_screen_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create. New Quote</label>
        <locationX>1477</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
        <inputReference>InsuranceQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Policy</name>
        <label>Get Policy</label>
        <locationX>232</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rating_Detail</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rating_Detail</name>
        <label>Get Rating Detail</label>
        <locationX>410</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_returned_rates</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_CAP__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_GL__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_PL__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_Umb__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_WC__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Tool_CProp__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>START_Rating_Tool__c</object>
        <sortField>Subclass__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>1521</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Rating_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Status__c</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_CAP__c</field>
            <value>
                <elementReference>Revised_Quote_Price_CAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_CProp__c</field>
            <value>
                <elementReference>Revised_Quote_price_CProp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_GL__c</field>
            <value>
                <elementReference>Revised_Quote_Price_GL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_PL__c</field>
            <value>
                <elementReference>Revised_Quote_Price_PL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_Umb__c</field>
            <value>
                <elementReference>Revised_Quote_Price_Umb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums_WC__c</field>
            <value>
                <elementReference>Revised_Quote_Price_WC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums__c</field>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance_Policy__c</object>
    </recordUpdates>
    <screens>
        <name>Preview_Input_screen_0_0</name>
        <label>Preview Input Screen</label>
        <locationX>1316</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_based_on_user_entry</targetReference>
        </connector>
        <fields>
            <name>Preview_Input_screen_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_GL_Premium_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_GL__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial GL Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_GL</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Insurance_Product__r.START_Rating_Tool_GL__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit GL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_CAP_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_CAP__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial CAP Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_CAP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.START_Rating_Tool_CAP__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit CAP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Workers_Compensation_Premium_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_WC__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial WC Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_WC</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Insurance_Product__r.START_Rating_Tool_WC__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit WC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Umbrella_Premium_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_Umb__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Umbrella Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_Umbrella</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.START_Rating_Tool_Umb__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Umbrella</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Professional_Liability_Premium_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Professional Liability Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Initial_Commercial_Property_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_CProp__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Commercial Property Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_Professional_Liability</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.START_Rating_Tool_PL__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Professional Liability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <fields>
                    <name>Scheduled_Credit_Commercial_Property</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.START_Rating_Tool_CProp__r.Schedule_Credit__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Commercial Property</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>final_quote_price_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Price__c</elementReference>
            </defaultValue>
            <fieldText>Final Quote Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_Input_screen_0_0_0</name>
        <label>Preview Input Screen</label>
        <locationX>1693</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <fields>
            <name>Preview_Input_screen_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_GL_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_GL__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial GL Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_GL_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_GL</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit GL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revised_GL_Premium_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_Price_GL</elementReference>
                    </defaultValue>
                    <fieldText>Revised GL Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_CAP_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_CAP__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial CAP Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_CAP_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_CAP</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit CAP</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revised_CAP_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_Price_CAP</elementReference>
                    </defaultValue>
                    <fieldText>Revised CAP Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Workers_Compensation_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_WC__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial WC Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Schedules_Credit_WC_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_WC</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit WC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revised_WC_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_Price_WC</elementReference>
                    </defaultValue>
                    <fieldText>Revised WC Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Umbrella_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_Umb__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Umbrella Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_Umbrella_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_Umbrella</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Umbrella</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revised_Umbrella_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_Price_Umb</elementReference>
                    </defaultValue>
                    <fieldText>Revised Umbrella Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Preview_Input_screen_0_0_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Initial_Professional_Liability_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Professional Liability Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Initial_Commercial_Property_Premium_0_0_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Policy.Premiums_CProp__c</elementReference>
                    </defaultValue>
                    <fieldText>Initial Commercial Property Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Credit_Professional_Liability_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_Professional_Liability</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Professional Liability</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>6</scale>
                </fields>
                <fields>
                    <name>Scheduled_Credit_Commercial_Property_0</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Scheduled_Credit_Commercial_Property</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Credit Commercial Property</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_Input_screen_0_0_0_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revised_Professional_Liability_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_Price_PL</elementReference>
                    </defaultValue>
                    <fieldText>Revised Professional Liability Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Revised_Commercial_Property_Premium</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Revised_Quote_price_CProp</elementReference>
                    </defaultValue>
                    <fieldText>Revised Commercial Property Premium</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>final_quote_price_0_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Price__c</elementReference>
            </defaultValue>
            <fieldText>Final Quote Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Action</name>
        <label>Rating Action</label>
        <locationX>234</locationX>
        <locationY>324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Policy</targetReference>
        </connector>
        <fields>
            <name>Rating_Action_Choice</name>
            <fieldText>&lt;p&gt;This rating flow use case highlights the following features:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;calculate a base premium using standard rate of the chosen carrier&lt;/li&gt;&lt;li&gt;allow the underwriter to apply schedule credits or any appropriate adjustment&lt;/li&gt;&lt;li&gt;create a quote record&lt;/li&gt;&lt;li&gt;generate a PDF quote for transmission to the desired receipant&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Screen</name>
        <label>Rating Screen</label>
        <locationX>1629</locationX>
        <locationY>885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Flow_Exit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Rating Process Completed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product, rate, and quote information has been added to submission:&lt;/p&gt;&lt;p&gt;{!Get_Policy.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>10</locationX>
        <locationY>144</locationY>
        <connector>
            <targetReference>Rating_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Credit_Applied</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>InsuranceQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance_Quote__c</objectType>
    </variables>
    <variables>
        <name>rate_from_table</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>Rating_Base</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Scheduled_Credit_CProp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>state_from_table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Submission_Update_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance_Policy__c</objectType>
    </variables>
    <variables>
        <name>Were_Credits_Applied</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
</Flow>
