force-app/main/default/flows/START_OFAC_Sanction_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>NotonSanctionList</name>
        <label>SanctionListReview</label>
        <locationX>986</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>No_Sanction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not On Sanction List</defaultConnectorLabel>
        <rules>
            <name>NotonList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckSanctionsList.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetAccounttoScreen.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sanction_Found</targetReference>
            </connector>
            <label>ON Sanction List</label>
        </rules>
    </decisions>
    <interviewLabel>START OFAC Sanction Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START OFAC Sanction Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CheckSanctionsList</name>
        <label>CheckSanctionsList</label>
        <locationX>748</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotonSanctionList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GetAccounttoScreen.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OFAC_SDN_Sanction_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccounttoScreen</name>
        <label>GetAccounttoScreen</label>
        <locationX>484</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSanctionsList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Sanction</name>
        <label>No Sanction</label>
        <locationX>1214</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSanctionFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;No sanction found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sanction_Found</name>
        <label>Sanction Found</label>
        <locationX>1215</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OnSanctionList</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;*** Sanction Found ! ***&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>For_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetAccounttoScreen.Name</elementReference>
            </defaultValue>
            <fieldText>For Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sanction_Program</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CheckSanctionsList.Program__c</elementReference>
            </defaultValue>
            <fieldText>Sanction Program</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sanction_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CheckSanctionsList.Name</elementReference>
            </defaultValue>
            <fieldText>Sanction Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccounttoScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account for sanction review</description>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
