force-app/main/default/flows/START_Policy_Assemby.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignFormsValues</name>
        <label>AssignFormsValues</label>
        <locationX>1051</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>NewFormSubmissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BaseSubmissionForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BaseFSCreate</name>
        <label>BaseFSCreate</label>
        <locationX>1195</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Form_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Form_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Insurance_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Form_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Form_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Form__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BaseSubmissionForm.Form_Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewFS.Form_Resident__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignFormsValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GL_Policy</name>
        <label>GL Policy</label>
        <locationX>533</locationX>
        <locationY>124</locationY>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRequiredFormsbyLOB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MM_Policy</name>
        <label>MM Policy</label>
        <locationX>628</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRequiredFormsbyLOB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WC_Policy</name>
        <label>WC Policy</label>
        <locationX>577</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FVWC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRequiredFormsbyLOB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Form_Count</name>
        <label>Check Form Count</label>
        <locationX>148</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>What_Type_of_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Forms Do NiotExist</defaultConnectorLabel>
        <rules>
            <name>Prior_Form_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_if_Forms_Exit.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Prior_Forms</targetReference>
            </connector>
            <label>Prior Form Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Policy</name>
        <label>What Type of Policy</label>
        <locationX>356</locationX>
        <locationY>460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Determine_Policy_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInsuranceSubmission.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GL_Policy</targetReference>
            </connector>
            <label>Policy is GL</label>
        </rules>
        <rules>
            <name>Policy_is_WC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInsuranceSubmission.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workers Compensation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WC_Policy</targetReference>
            </connector>
            <label>Policy is WC</label>
        </rules>
        <rules>
            <name>Policy_is_Malpractice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInsuranceSubmission.Subclass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malpractice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MM_Policy</targetReference>
            </connector>
            <label>Policy is Malpractice</label>
        </rules>
    </decisions>
    <interviewLabel>START Policy Assemby {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START Policy Assemby</label>
    <loops>
        <name>CreateNewFS</name>
        <label>CreateNewFS</label>
        <locationX>861</locationX>
        <locationY>123</locationY>
        <collectionReference>GetRequiredFormsbyLOB</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BaseFSCreate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRequiredSubmissionForms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRequiredSubmissionForms</name>
        <label>CreateRequiredSubmissionForms</label>
        <locationX>1304</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Policy_Assemble_Process</targetReference>
        </connector>
        <inputReference>NewFormSubmissions</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Prior_Forms</name>
        <label>Delete Prior Forms</label>
        <locationX>337</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>What_Type_of_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurance_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInsuranceSubmission.Id</elementReference>
            </value>
        </filters>
        <object>Submission_Forms__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Confirm_if_Forms_Exit</name>
        <label>Confirm if Forms Exit</label>
        <locationX>50</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Form_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurance_Submission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Submission_Forms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInsuranceSubmission</name>
        <label>GetInsuranceSubmission</label>
        <locationX>170</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_if_Forms_Exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequiredFormsbyLOB</name>
        <label>GetRequiredFormsbyLOB</label>
        <locationX>699</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewFS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Common</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Forms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Policy_Assemble_Process</name>
        <label>Policy Assemble Process</label>
        <locationX>1422</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;Policy Documents assembled for policy: {!GetInsuranceSubmission.Named_Insured__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetInsuranceSubmission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BaseSubmissionForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Submission_Forms__c</objectType>
    </variables>
    <variables>
        <name>DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Formlob</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewFormRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Submission_Forms__c</objectType>
    </variables>
    <variables>
        <name>NewFormSubmissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Submission_Forms__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
