force-app/main/default/flows/START_ISO_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_ISO_Rate</name>
        <label>Get ISO Rate</label>
        <locationX>939</locationX>
        <locationY>86</locationY>
        <actionName>DomDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateRatingTable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://my.api.mockaroo.com/ISOtable.xml?key=15fca110</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DomDocument</nameSegment>
        <outputParameters>
            <assignToReference>returnRate</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>START ISO API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START ISO API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRatingDetail</name>
        <label>getRatingDetail</label>
        <locationX>380</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ISO_Rate_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>START_Rating_Tool__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRatingTable</name>
        <label>UpdateRatingTable</label>
        <locationX>1026</locationX>
        <locationY>264</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rate__c</field>
            <value>
                <elementReference>returnRate</elementReference>
            </value>
        </inputAssignments>
        <object>START_Rating_Tool__c</object>
    </recordUpdates>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1101</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finished_Flow</name>
            <fieldText>&lt;p&gt;Update Complete:&lt;/p&gt;&lt;p&gt;Rate Table Updated&lt;/p&gt;&lt;p&gt;Local ISO table Updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prior_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getRatingDetail.Rate__c</elementReference>
            </defaultValue>
            <fieldText>Prior Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>New_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>returnRate</elementReference>
            </defaultValue>
            <fieldText>New Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ISO_Rate_Query</name>
        <label>ISO Rate Query</label>
        <locationX>601</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ISO_Rate</targetReference>
        </connector>
        <fields>
            <name>Query</name>
            <fieldText>&lt;p&gt;Rating Product:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requested_product_state_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getRatingDetail.Name</elementReference>
            </defaultValue>
            <fieldText>Requested product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Loss_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getRatingDetail.Rate__c</elementReference>
            </defaultValue>
            <fieldText>Current Loss Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>START_ISO_Rate</name>
        <label>START ISO Rate</label>
        <locationX>191</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRatingDetail</targetReference>
        </connector>
        <fields>
            <name>Rate_Update_Overview</name>
            <fieldText>&lt;p&gt;This feature:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Displays the product current loss rate&lt;/p&gt;&lt;p&gt;Obtains a new rate from an external source&lt;/p&gt;&lt;p&gt;Updates the product loss rate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>START_ISO_Rate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>listr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
