force-app/main/default/flows/STARTtoggleShowDisplay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetDisplaytoNO</name>
        <label>SetDisplaytoNO</label>
        <locationX>739</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>getCurrentRecord.Show_Help__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateShowDisplay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDisplaytoYES</name>
        <label>SetDisplaytoYES</label>
        <locationX>745</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>getCurrentRecord.Show_Help__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateShowDisplay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangeDisplayStaus</name>
        <label>ChangeDisplayStaus</label>
        <locationX>426</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>SetDisplaytoYES</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CurrentStatusisNO</defaultConnectorLabel>
        <rules>
            <name>CurrentStatusisYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentRecord.Show_Help__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDisplaytoNO</targetReference>
            </connector>
            <label>CurrentStatusisYES</label>
        </rules>
    </decisions>
    <description>toggles the Show Display field</description>
    <interviewLabel>STARTtoggleShowDisplay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STARTtoggleShowDisplay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentRecord</name>
        <label>getCurrentRecord</label>
        <locationX>127</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeDisplayStaus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateShowDisplay</name>
        <label>UpdateShowDisplay</label>
        <locationX>955</locationX>
        <locationY>304</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Help__c</field>
            <value>
                <elementReference>getCurrentRecord.Show_Help__c</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance_Policy__c</object>
    </recordUpdates>
    <start>
        <locationX>1</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>getCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
