temp/flows/Manage_Census_Rating.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Rate_for_Product</name>
        <label>Get Rate for Product</label>
        <locationX>1058</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>Rating_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Base_for_Rate_Calculation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Quote_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Insured_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Insurance_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Insurance_Policy__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Subclass__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate_from_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rating_Detail.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Census.Premiums__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Submission_Information.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>state_from_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rating_Detail.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Carrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Producer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Producer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Insured_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Insured_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Claims_Reported_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Claims_Reported_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Each_Occurence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Each_Occurence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.General_Aggregate_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.General_Aggregate_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Limit_Applies_Per__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Limit_Applies_Per__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Policy_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_based_on_user_entry</name>
        <label>Update Quote based on user entry</label>
        <locationX>1459</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Census.Major_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revised_Input_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_There_A_Rating_Available</name>
        <label>Is There A Rating Available</label>
        <locationX>673</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Get_Rate_for_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rating is available</defaultConnectorLabel>
        <rules>
            <name>No_Rating_for_this_product_id_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rating_Detail.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rating_Screen</targetReference>
            </connector>
            <label>No Rating for this product id available</label>
        </rules>
    </decisions>
    <description>Flow to manage rating for census schedule records</description>
    <formulas>
        <name>Allocated_Risk_Premium</name>
        <dataType>Number</dataType>
        <expression>{!Foreigh_Risk_Premium} *{!Get_Rating_Detail.Factors__r.Allocated_Risk_Percent__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Foreigh_Risk_Premium</name>
        <dataType>Number</dataType>
        <expression>({!Get_Census.Base_for_Rate_Calculation__c} *  {!Get_Rating_Detail.Rate__c} )  * {!Get_Census.Location_Factors__r.index__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Gross_Local_Premium</name>
        <dataType>Number</dataType>
        <expression>{!Allocated_Risk_Premium} *{!Get_Rating_Detail.loss_cost_multiplier__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quote_price</name>
        <dataType>Number</dataType>
        <expression>{!Get_Census.Base_for_Rate_Calculation__c} *  {!Get_Rating_Detail.Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price</name>
        <dataType>Number</dataType>
        <expression>{!Quote_price}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage Census Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Census Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create. New Quote</label>
        <locationX>1459</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Update_Census_Schedule</targetReference>
        </connector>
        <inputReference>InsuranceQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Census</name>
        <label>Get Census</label>
        <locationX>464</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Submission_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Census_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rating_Detail</name>
        <label>Get Rating Detail</label>
        <locationX>630</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Rating_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Census.START_Rating_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>START_Rating_Tool__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Information</name>
        <label>Get Submission Information</label>
        <locationX>465</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rating_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Census.Insurance_Policy__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Census_Schedule</name>
        <label>Update Census Schedule</label>
        <locationX>1334</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Census.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Get_Submission_Information.Carrier__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Date__c</field>
            <value>
                <elementReference>InsuranceQuote.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Submission_Information.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Rate__c</field>
            <value>
                <elementReference>Get_Rating_Detail.Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Major_Class__c</field>
            <value>
                <elementReference>Get_Submission_Information.Major_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums__c</field>
            <value>
                <elementReference>Gross_Local_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Source__c</field>
            <value>
                <elementReference>Get_Rating_Detail.Rating_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subclass__c</field>
            <value>
                <elementReference>Get_Submission_Information.Subclass__c</elementReference>
            </value>
        </inputAssignments>
        <object>Census_Schedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>1173</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Rating_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Status__c</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums__c</field>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>START_Rating_Product__c</field>
            <value>
                <elementReference>Get_Rating_Detail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance_Policy__c</object>
    </recordUpdates>
    <screens>
        <name>Policy_Information</name>
        <label>Policy Information</label>
        <locationX>1225</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_based_on_user_entry</targetReference>
        </connector>
        <fields>
            <name>Dispay_Option</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Revise quote parameters as needed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subclass</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Census.Subclass__c</elementReference>
            </defaultValue>
            <fieldText>Subclass</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Classification_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Classification_Codes__c</elementReference>
            </defaultValue>
            <fieldText>Classification Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>state_from_table</elementReference>
            </defaultValue>
            <fieldText>Rate State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_Base_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Census.Base_for_Rate_Calculation__c</elementReference>
            </defaultValue>
            <fieldText>Rating Base Number of Units</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Exposure_Base</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Exposure_Base__c</elementReference>
            </defaultValue>
            <fieldText>Exposure Base</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>rate_from_table</elementReference>
            </defaultValue>
            <fieldText>Rate Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Country_Factor</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Census.Location_Factors__r.index__c</elementReference>
            </defaultValue>
            <fieldText>Country Factor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Premium_Credit</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Schedule_Credit__c</elementReference>
            </defaultValue>
            <fieldText>Premium Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Foreign_Risk_Premium</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Foreigh_Risk_Premium</elementReference>
            </defaultValue>
            <fieldText>Foreign Risk Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Allocated</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Factors__r.Allocated_Risk_Percent__c</elementReference>
            </defaultValue>
            <fieldText>Allocated%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Allocated_Risk_Premium_Display</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Allocated_Risk_Premium</elementReference>
            </defaultValue>
            <fieldText>Allocated Risk Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>LCM</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.loss_cost_multiplier__c</elementReference>
            </defaultValue>
            <fieldText>Loss Cost Multiplier (LCM)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Local_Country_Premium</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Gross_Local_Premium</elementReference>
            </defaultValue>
            <fieldText>Local Country Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Minimum_Premium</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Minimum_Premium__c</elementReference>
            </defaultValue>
            <fieldText>Minimum Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Initital_Quote_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Price__c</elementReference>
            </defaultValue>
            <fieldText>Loss Cost Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Action</name>
        <label>Rating Action</label>
        <locationX>169</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Census</targetReference>
        </connector>
        <fields>
            <name>Rating_Action_Choice</name>
            <fieldText>&lt;p&gt;This rating flow use case (ISO products) highlights the following features:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;calculate a base premium using standard rate of the chosen carrier&lt;/li&gt;&lt;li&gt;allow the underwriter to apply schedule credits or any appropriate adjustment&lt;/li&gt;&lt;li&gt;create a quote record&lt;/li&gt;&lt;li&gt;generate a PDF quote for transmission to the desired receipant&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Screen</name>
        <label>Rating Screen</label>
        <locationX>1018</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Flow_Exit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt; Rating Process Completed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ratings have been performed for:&lt;/p&gt;&lt;p&gt;{!Get_Census.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rating_Not_Found</name>
            <fieldText>&lt;p&gt;No rating available for this product&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Rating_for_this_product_id_available</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revised_Input_screen</name>
        <label>Revised Input Screen</label>
        <locationX>1474</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <fields>
            <name>Revised_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Name</elementReference>
            </defaultValue>
            <fieldText>Revised Input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>final_quote_price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Revised_Quote_Price</elementReference>
            </defaultValue>
            <fieldText>final quote price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>81</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Rating_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InsuranceQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance_Quote__c</objectType>
    </variables>
    <variables>
        <name>rate_from_table</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>Rating_Base</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state_from_table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
