temp/flows/Manage_START_Rating.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Get_Rate_for_Product</name>
        <label>Get Rate for Product</label>
        <locationX>1057</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>Rating_Base</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Base_for_rate_calculation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Quote_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Insured_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Insurance_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Subclass__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rate_from_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rating_Detail.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Policy.Premiums__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>state_from_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rating_Detail.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Carrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Producer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Producer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Insured_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Insured_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Claims_Reported_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Claims_Reported_Basis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Each_Occurence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Each_Occurence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.General_Aggregate_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.General_Aggregate_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Limit_Applies_Per__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Limit_Applies_Per__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Policy_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_based_on_user_entry</name>
        <label>Update Quote based on user entry</label>
        <locationX>1457</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy.Insurance_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceQuote.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revised_Input_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_There_A_Rating_Available</name>
        <label>Is There A Rating Available</label>
        <locationX>673</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Get_Rate_for_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rating is available</defaultConnectorLabel>
        <rules>
            <name>No_Rating_for_this_product_id_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rating_Detail.State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rating_Screen</targetReference>
            </connector>
            <label>No Rating for this product id available</label>
        </rules>
    </decisions>
    <description>1. Ensures rating exists
2. Prepares initial rate for review and create quote record</description>
    <formulas>
        <name>Quote_price</name>
        <dataType>Number</dataType>
        <expression> {!Get_Rating_Detail.Rate__c} * {!Get_Rating_Detail.loss_cost_multiplier__c}  * {!Get_Policy.Base_for_rate_calculation__c} * {!Get_Rating_Detail.Schedule_Credit__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Revised_Quote_Price</name>
        <dataType>Number</dataType>
        <expression> {!Get_Rating_Detail.Rate__c} *{!Get_Rating_Detail.loss_cost_multiplier__c} *{!Rate_Base_Units} *{!Premium_Credit}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Manage START Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage START Rating v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create. New Quote</label>
        <locationX>1459</locationX>
        <locationY>556</locationY>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
        <inputReference>InsuranceQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Policy</name>
        <label>Get Policy</label>
        <locationX>403</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rating_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rating_Detail</name>
        <label>Get Rating Detail</label>
        <locationX>630</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_A_Rating_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subclass__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.Subclass__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.START_Rating_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>START_Rating_Tool__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>1204</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>Rating_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Status__c</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premiums__c</field>
            <value>
                <elementReference>Revised_Quote_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>START_Rating_Product__c</field>
            <value>
                <elementReference>Get_Rating_Detail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Insurance_Policy__c</object>
    </recordUpdates>
    <screens>
        <name>Policy_Information</name>
        <label>Policy Information</label>
        <locationX>1224</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_based_on_user_entry</targetReference>
        </connector>
        <fields>
            <name>Dispay_Option</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Revise quote parameters as needed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subclass</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Policy.Subclass__c</elementReference>
            </defaultValue>
            <fieldText>Subclass</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Classification_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Classification_Codes__c</elementReference>
            </defaultValue>
            <fieldText>Classification Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>state_from_table</elementReference>
            </defaultValue>
            <fieldText>Rate State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_Base_Units</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Policy.Base_for_rate_calculation__c</elementReference>
            </defaultValue>
            <fieldText>Rating Base Number of Units</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Exposure_Base</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Exposure_Base__c</elementReference>
            </defaultValue>
            <fieldText>Exposure Base</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rate_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>rate_from_table</elementReference>
            </defaultValue>
            <fieldText>Rate Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>LCM</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.loss_cost_multiplier__c</elementReference>
            </defaultValue>
            <fieldText>Loss Cost Multiplier (LCM)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Premium_Credit</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Rating_Detail.Schedule_Credit__c</elementReference>
            </defaultValue>
            <fieldText>Premium Credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Initital_Quote_Amount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Price__c</elementReference>
            </defaultValue>
            <fieldText>Quote Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Action</name>
        <label>Rating Action</label>
        <locationX>167</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Policy</targetReference>
        </connector>
        <fields>
            <name>Rating_Action_Choice</name>
            <fieldText>&lt;p&gt;This rating flow use case highlights the following features:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;calculate a base premium using standard rate of the chosen carrier&lt;/li&gt;&lt;li&gt;allow the underwriter to apply schedule credits or any appropriate adjustment&lt;/li&gt;&lt;li&gt;create a quote record&lt;/li&gt;&lt;li&gt;generate a PDF quote for transmission to the desired receipant&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_Screen</name>
        <label>Rating Screen</label>
        <locationX>1018</locationX>
        <locationY>705</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Flow_Exit</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Rating Process Completed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product, rate, and quote information has been added to submission:&lt;/p&gt;&lt;p&gt;{!Get_Policy.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rating_Not_Found</name>
            <fieldText>&lt;p&gt;No rating available for this product&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Policy.Carrier_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Rating_Detail.Carrier__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Revised_Input_screen</name>
        <label>Revised Input Screen</label>
        <locationX>1476</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <fields>
            <name>Revised_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Name</elementReference>
            </defaultValue>
            <fieldText>For</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>final_quote_price</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>InsuranceQuote.Price__c</elementReference>
            </defaultValue>
            <fieldText>Final Quote Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>81</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Rating_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InsuranceQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance_Quote__c</objectType>
    </variables>
    <variables>
        <name>rate_from_table</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>Rating_Base</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>state_from_table</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
