temp/flows/New_SMARRT_Opportunity_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>PopulateInsurancePolicy</name>
        <label>PopulateInsurancePolicy</label>
        <locationX>587</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Insured_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Policy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Policy_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Professional_Concentration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Professional_Concentration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Producer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0016g00001cVagSAAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct Bill</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Major_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Base_for_rate_calculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Subclass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Malpractice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Claims_Reported_Basis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Claims Made</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Limit_Applies_Per__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Policy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Each_Occurence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.General_Aggregate_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3000000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Professional_Concentration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Professional_Concentration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurancePolicy.Product_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactRecord.Product_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateInsurancePolicy</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>oppname</name>
        <dataType>String</dataType>
        <value>
            <stringValue>opportunity</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>oppstage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New SMARRT Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New SMARRT Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateInsurancePolicy</name>
        <label>CreateInsurancePolicy</label>
        <locationX>880</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>ExitScreen</targetReference>
        </connector>
        <inputReference>NewInsurancePolicy</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get record that invoked flow</description>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>397</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PopulateInsurancePolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>173</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;Demonstration action to create information needed to generate a quote&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExitScreen</name>
        <label>ExitScreen</label>
        <locationX>926</locationX>
        <locationY>373</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayExitText</name>
            <fieldText>&lt;p&gt;Insurance Policy created for :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Carrier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactRecord.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactRecord.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayInsured</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactRecord.Product_Interest__c</elementReference>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewInsurancePolicy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurance_Policy__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
