temp/flows/START_Scheduled_Asset_Rating.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>UpdateCensusRate</name>
        <label>UpdateCensusRate</label>
        <locationX>722</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>GetScheduledAssets.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Census_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Census_Rating</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Census_Formula</name>
        <dataType>Currency</dataType>
        <expression>{!GetNCCIRate.Rate__c}*{!GetScheduledAssets.Base_for_Rate_Calculation__c}*{!GetScheduledAssets.Insurance_Policy__r.Base_for_rate_calculation__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>START Scheduled Asset Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START Scheduled Asset Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetNCCIRate</name>
        <label>GetNCCIRate</label>
        <locationX>563</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCensusRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetScheduledAssets.NCCI_Code__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NCCI_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetScheduledAssets</name>
        <label>GetScheduledAssets</label>
        <locationX>413</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNCCIRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Census_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCensusRecord</name>
        <label>UpdateCensusRecord</label>
        <locationX>1007</locationX>
        <locationY>358</locationY>
        <inputReference>GetScheduledAssets</inputReference>
    </recordUpdates>
    <screens>
        <name>Display_Census_Rating</name>
        <label>Display Census Rating</label>
        <locationX>1023</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCensusRecord</targetReference>
        </connector>
        <fields>
            <name>Calculculated_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetScheduledAssets.Rate__c</elementReference>
            </defaultValue>
            <fieldText>Calculculated Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetScheduledAssets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Census_Rating</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
