temp/flows/START_PAS_Transaction.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_PAS_Transaction</name>
        <label>Update PAS Transaction</label>
        <locationX>540</locationX>
        <locationY>216</locationY>
        <actionName>DomOutput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PAS_Transaction</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>http://www.google.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>DomOutput</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <description>Cancel transaction</description>
    <interviewLabel>START PAS Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START PAS Transaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>PAS_Outbound</name>
        <label>PAS Outbound</label>
        <locationX>927</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PAS_Transaction</name>
        <label>PAS Transaction</label>
        <locationX>831</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Pas_Response</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Update_PAS_Transaction</elementReference>
            </defaultValue>
            <fieldText>Pas Response</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_PAS_Transaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
